# --- Стандартные файлы Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

.vscode/

# --- PyInstaller (сборка) ---
# Игнорируем временные файлы сборки
build/
*.spec

# Твоя папка для готовых сборок
release_builds/

# Игнорируем все exe файлы в проекте
*.exe

# --- Логи ---
# Игнорируем папку logs и все файлы внутри
logs/
*.log

# --- Конфигурационные файлы ---
agent_config.json
.admin_service_token